<h3 class="segment-head"><%= @mlist.title %></h3>
<% if @owner %>
  <a href="/console/<%= @mlist._id %>/edit/">Edit</a> || <a href="/console/<%= @mlist.slug %>/delete/"> Delete</a>
<% end %>
<br />
<i><%= @mlist.describe %></i>
<br />
<br />
<ul>
<% @mlist.items.each do |item| %>
  <% if item.done? %>
    <li class="complete">
  <% else %>
    <li>
  <% end %>

  <% if @owner %>
    <% if item.done? %>
      <a class="list-item" href="/console/<%= @mlist.slug %>/uncomplete/<%= item._id %>/">
    <% else %>
      <a class="list-item" href="/console/<%= @mlist.slug %>/complete/<%= item._id %>/">
    <% end %>
  <% end %>

  <b><%= item.text %></b> 
  <% if item.desc %>
    <small> (<%= item.desc %>) </small>
  <% end %>

  <% if @owner %>
    </a>
  <% end %>

  <% if @owner %>
    (<a href="/console/<%= @mlist.slug %>/delete/<%= item._id %>/">Del</a>)
  <% end %>

</li>

<% end %>
</ul>

<% if @owner %>
   <br />
   <hr /> 
  <b>Add item</b>
  <form method='post' action='/console/<%= @mlist.slug %>/add_item/'>
  <b>Text</b><br />
  <input type='text' name='item_text' /><br />
  <b>Notes</b><br />
  <input type='text' name='item_desc' /><br />
  <br />
  <input type='submit' value='Add' />
  </form>
<% end %>

