<h3 class="segment-head"><%= @mlist.title %></h3>
<% if @owner %>
  <a href="/console/<%= @mlist._id %>/edit/">Edit</a> || <a href="/console/<%= @mlist.slug %>/delete/"> Delete</a>
<% end %>
<br />
<i><%= @mlist.describe %></i>
<br />
<br />
<ul>
<% @mlist.items.each do |item| %>
  <% if item.done? %>
    <li class="complete">
  <% else %>
    <li>
  <% end %>

  <% if @owner %>
    <% if item.done? %>
      <a class="list-item" href="/console/<%= @mlist.slug %>/uncomplete/<%= item._id %>/">
    <% else %>
      <a class="list-item" href="/console/<%= @mlist.slug %>/complete/<%= item._id %>/">
    <% end %>
  <% end %>

  <b><%= item.text %></b> 
  <% if item.desc.length > 0 %>
    <small> (<%= item.desc %>) </small>
  <% end %>

  <% if @owner %>
    </a>
  <% end %>

  <% if @owner %>
      <a href="/console/<%= @mlist.slug %>/delete/<%= item._id %>/">
      	 <img class='trash' src='/images/trashcan.svg' alt='delete' />
      </a>
  <% end %>

</li>

<% end %>
</ul>

<% if @owner %>
   <a class='add_item' href='/console/<%= @mlist.slug %>/add_item/'>Add Item</a><br />
<% end %>

